body{
    margin-top: 0;



}
.container{
    width: 1500px;
    height: 100vh;


}
.header{
    width: 100%;
    height: 20vh;
    background-color: #969393;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.inner{
    height: 80%;
    width: 100%;

    display: flex;
    justify-content: space-between;

}
.inner1{
    height: 100%;
    width: 70%;
    background-color: #969393;
    display: flex;
    justify-content: center;
    align-items: center;

}
.inner2{
    height: 100%;
    width: 30%;
    background-color: #969393;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}

